@import "~bootstrap/scss/bootstrap.scss";

.card {
font-family: "Quicksand";
margin: auto;
max-width: 600px;
}

.card-header{
    background-color: #f8c1d1;
}

h1 {
display: block;
text-align: center;
color: #f2f2f2;
font-size: 70px;
}

input {
width: 100%;
border-radius: 5px;
}

input:focus{
outline: 2px solid #c8d0fc; 
}

h5 {
padding: 10px 16px;
margin: 20px 0;
border-bottom: 2px solid #c8d0fc;
border-radius: 5px;
}

h5:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.card-footer{
    background-color: #c1f8dd;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}

